.header {
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
}

.navbar-brand-link {
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #333;
  margin-left: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-link:hover {
  color: #007bff;
}

.icon {
  margin-right: 5px;
}

.logout-link {
  cursor: pointer;
}
